@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --nihyaku8: hsl(200, 30%, 8%);
  --nihyaku12: hsl(220, 30%, 12%);
  --nihyaku15: hsl(200, 40%, 15%);
  --nihyaku20: hsl(240, 40%, 20%);
}
